<!-- Navigation -->
<!--
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="/">TriLED</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://triled.be">About TriLED</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
-->

<header class="intro-header" style="background-image: url('/img/corda-campus.jpg');">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">-->
            <div class="col-lg-12 col-md-12 ">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <hr class="small">
                    <span class="subheading">Making smart lighting easy</span>
                </div>
            </div>
        </div>
    </div>
</header>
